<div class="component-wrapper signup-wrapper">

  <div class="container">


    <mat-card>
      <mat-card-title>
        GET <span class="highlight primary">STARTED</span>
      </mat-card-title>

      <mat-card-subtitle>
        OPEN ACCOUNT FOR FREE AND START TRADING BITCOINS NOW!
      </mat-card-subtitle>

      <mat-card-content>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

          <mat-form-field floatLabel="never" appearance="fill">
            <input matInput placeholder="Nombres" type="text" [formControl]="name" (input)="errors.message = undefined;">
            <mat-error *ngIf="name.invalid || errors.name">{{getErrorMessage(name, errors.name)}}</mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" appearance="fill">
            <input matInput placeholder="Apellidos" type="text" [formControl]="lastName" (input)="errors.message = undefined;">
            <mat-error *ngIf="lastName.invalid || errors.lastName">{{getErrorMessage(lastName, errors.lastName)}}</mat-error>
          </mat-form-field>

          <mat-form-field class="mat-select-form-field">
            <mat-select [formControl]="identificationType">
              <mat-option *ngFor="let idType of idTypes; let i = index;" [value]="idType.id">
                {{idType.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="identificationType.invalid || errors.identificationType">{{getErrorMessage(identificationType,
              errors.identificationType)}}</mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" appearance="fill">
            <input matInput placeholder="Identificación" type="text" [formControl]="identification" (input)="errors.message = undefined;">
            <mat-error *ngIf="identification.invalid || errors.identification">{{getErrorMessage(identification,
              errors.identification)}}</mat-error>
          </mat-form-field>

          <div class="row id-photos">
            <input #fIdInput style="display:none" type="file" ([ngModel])="idFront" (change)="onFile($event.target.files[0], 0); fIdInput.value = ''">
            <div class="file-input front-id">
              <div class="file-input-container" (click)="fIdInput.click()" [ngClass]="{'has-file': idFront}">
                <img class="bg" *ngIf="idFront" [src]="domSanitizer.bypassSecurityTrustUrl(idFront.url)">
                <span class="input-icon">
                  <i class="far fa-plus-square"></i>
                </span>
              </div>
              <span class="file-input-label">IDENTIFICACION (FRONTAL)</span>
            </div>

            <input #bIdInput style="display:none" type="file" ([ngModel])="idBack" (change)="onFile($event.target.files[0], 1); bIdInput.value = ''">
            <div class="file-input back-id">
              <div class="file-input-container" (click)="bIdInput.click()" [ngClass]="{'has-file': idBack}">
                <img class="bg" *ngIf="idBack" [src]="domSanitizer.bypassSecurityTrustUrl(idBack.url)">
                <span class="input-icon">
                  <i class="far fa-plus-square"></i>
                </span>
              </div>
              <span class="file-input-label">IDENTIFICACION (TRASERA)</span>
            </div>
          </div>

          <input #bInput style="display:none" type="file" ([ngModel])="bill" (change)="onFile($event.target.files[0], 2); bInput.value = ''">
          <div class="file-input bill-scan">
            <div class="file-input-container" (click)="bInput.click()" [ngClass]="{'has-file': bill}">
              <img class="bg" *ngIf="bill" [src]="domSanitizer.bypassSecurityTrustUrl(bill.url)">
              <span class="input-icon">
                <i class="far fa-plus-square"></i>
              </span>
            </div>
            <span class="file-input-label">FACTURA SERVICIO PÚBLICO</span>
          </div>

          <mat-form-field floatLabel="never" appearance="fill">
            <input matInput placeholder="Usuario/Correo" type="text" [formControl]="email" (input)="errors.message = undefined;">
            <mat-error *ngIf="email.invalid || errors.email">{{getErrorMessage(email, errors.email)}}</mat-error>
          </mat-form-field>

          <mat-form-field floatLabel="never" appearance="fill">
            <input matInput placeholder="Número de Teléfono" type="text" [formControl]="phoneNumber" (input)="errors.message = undefined;">
            <mat-error *ngIf="phoneNumber.invalid || errors.phoneNumber">{{getErrorMessage(phoneNumber,
              errors.phoneNumber)}}</mat-error>
          </mat-form-field>

          <form [formGroup]="passwords" *ngIf="!loadedUser">
            <mat-form-field floatLabel="never" appearance="fill">
              <input matInput placeholder="Contraseña" type="password" [formControl]="password" (input)="errors.message = undefined;">
              <mat-error *ngIf="password.invalid || errors.password">{{getErrorMessage(password, errors.password)}}</mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="never" appearance="fill">
              <input matInput placeholder="Confirmación Contraseña" type="password" [formControl]="password_confirmation"
                (input)="errors.message = undefined;">
              <mat-error *ngIf="password_confirmation.invalid || errors.password_confirmation">{{getErrorMessage(password_confirmation,
                errors.password_confirmation)}}</mat-error>
            </mat-form-field>
          </form>

          <mat-error *ngIf="errors.message" class="form-errors">
            {{ errors.message }}
          </mat-error>

          <button mat-raised-button color="primary" class="btn-signup" [disabled]="signupForm.invalid" (click)="onSubmit()">
            <span>INGRESAR</span>
          </button>
        </form>

      </mat-card-content>

    </mat-card>

  </div>

</div>