@import './src/scss/variables.scss';
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - var(--footer-height));
}

.signup-wrapper {
  mat-card {
    font-size: 1rem;
    padding: 1em 2em 2em 2em;
    box-shadow: none;
    @include for-desktop-up {
      width: 80%;
    }
    .mat-card-title,
    .mat-card-subtitle {
      text-align: center;
    }
    mat-card-title {
      font-size: 3.25em;
      font-weight: 800;
      margin-bottom: 0.75em;
    }
    mat-card-content {
      font-size: 1em;
      padding-top: 2em;
    }
    
    .file-input {
      background-size: cover;
      background-position: center center;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 1em 1em;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .file-input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        flex: 1 0 0;
        position: relative;
        min-height: 224px;
        img.bg{
          height: 224px;
        }
        i{
          transition: all 0.2s ease;
        }
        &.has-file {
          i {
            display: none;
          }
        }
      }
      .input-icon {
        font-size: 5em;
      }
      .file-input-label {
        margin-top: 0.25em;
        font-weight: 400;
        text-align: center;
      }
    }
    .row.id-photos {
      margin: 1em 0;
      width: 100%;
      align-items: stretch;
      justify-content: flex-start;
      .file-input{
        
      flex: 0 0 50%;
      }
    }
    .bill-scan{
      margin: 1em 0;
      margin: 0 20%;
    }
    form {
      font-size: 1em;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .mat-form-field {
        margin: 1em 0;
      }
      ::ng-deep {
        .mat-select-form-field {
          .mat-form-field-flex {
            padding: .75em .75em 0 .75em;
          }
        }
        .mat-form-field {
          .mat-form-field-infix {
            border: none;
            padding: 0.25em 0.25em 1em 0.25em;
          }
          .mat-form-field-wrapper {
            padding: 0;
          }
          .mat-form-field-underline {
            display: none;
          }
        }
      }
      .btn-signup{
        align-self: center;
        margin-top: 2em;
        border-radius: 0;
        width: 35%;
        padding: 0.5em 0.75em;
        font-weight: 600;
        font-size: 1.5em;
      }
    }
  }
}